/**
* Footer
**/

.footer {
    width: 100%;
    height: 40px;
    background-color: $primary;
    @include flex(center, center, row);

    &__text {
        text-align: center;
        color: $nimble;
        font-size: $sm;
    }
}




